<h1>Burger Eater</h1>
<form>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="formGroupExampleInput">Add Burger</label>
          <input type="text" class="form-control " id="formGroupExampleInput" placeholder="Cheeseburger">
          <br>
          <button type="submit" id="newBurger" class="btn btn-primary mb-1">Add Burger</button>
        </div>
      </div>
    </div>
  </div>
</form>

<table class="table">
  <tbody id ="burgerField">

  </tbody>
</table>


</form>